/*Styling for the Pop-Up*/

.button-css{
    background-color: #080808;
    border-radius: 10px;
    color: white;

    height: 70%;
    margin-bottom: 10px;
}
.text-inside{
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;

}
.pop-up-table{
    border-color: #080808;
    border-style: double;
}