<!--Design for the Pop-Up when user clicks on "Read More"-->
<!--Styling for this is mentioned in pop-up.component.css-->
<div class="pop-up-display">

    <table class="pop-up-table">
    <tr>
        <td><p class="text-inside"><b>Director:</b>&nbsp;&nbsp;{{filmEpisodePopup.director}}</p></td>
    </tr>
    <tr>
        <td><p class="text-inside"><b>Producer:</b>&nbsp;&nbsp;{{filmEpisodePopup.producer}}</p></td>
    </tr>
    <tr>
        <td><p class="text-inside"><b>Release Date:</b>&nbsp;&nbsp;{{filmEpisodePopup.release_date}}</p></td>
    </tr>
    <tr>
        <td><p class="text-inside"><b>Description:</b>&nbsp;&nbsp;{{filmEpisodePopup.opening_crawl}}</p></td>
    </tr>
    <tr>
        <td><button (click)="closeDialog()" class="button-css">Close</button></td>
    </tr>
</table>
</div>
