<!--Design for the list of the films displayed-->
<!--Styling for the cards specified in cards.component.css-->
<div class="cards"> <!--Div for the cards container-->
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-1.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeOne.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeOne.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogOne()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-2.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeTwo.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeTwo.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogTwo()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-3.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeThree.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeThree.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogThree()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-4.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeFour.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeFour.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogFour()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-5.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeFive.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeFive.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogFive()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
        <div class="card"><!--Div for each card-->
            
            <img src="../assets/star-wars-episode-6.jpg" alt="" class="card-image">
            <hr>
            <header class="episode-size">Episode {{filmEpisodeSix.episode_id}}</header>
            <hr>
            <header class="title-size">Title :{{filmEpisodeSix.title}}</header>
            <hr>
            <div class="card-info">
                <button class="button-css" (click)="openDialogSix()">Read More</button>
                <!--Button for the pop-up. On click function defined in cards.component.ts-->
            </div>
            
        </div>
       
        
       
    </div>




