/*Styling for the cards displayed*/


.cards{
    margin: 0 auto;
    max-width: 900px;
    display:grid;
    grid-template-columns: repeat(3, minmax(225px, 1fr));
    gap: 120px;
    font-family:Arial, Helvetica, sans-serif;

}
.card{
    width: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
   
    
}
.episode-size{
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;

}
.title-size{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;

}
.card-image{
    width: 100%;
    display: block;
    height: 100%;
}
.card-content{
    line-height: 1.5em;
    font-size: small;
}
.button-css{
    background-color: #151515;
    border-radius: 10px;
    color: whitesmoke;
    width: 100%;
    height: 150%;
    margin-bottom: 10px;
}
.card-info{
    margin-bottom: 10px;
}
