<!--Code below specifies the design of the navbar-->
<!--Styling for the navbar is mentioned in navbar.component.css-->
<nav>
<ul>
    <li><a href="#"><img src="../../assets/star-wars-logo.png" alt="Logo" width="50" height="50"></a></li>
    
    <li class="right"><a href="#">Home</a></li>
</ul>
</nav>