<!--Specified components and background class for this application-->
<!--Styling for the background class defined in app.component.css-->
<body>
 <div class="image"> 
  <app-navbar></app-navbar>
  <app-cards></app-cards>
</div>
</body>